<h2>{{name}}</h2>
<div class="row">
  <div class="col-md-1">Gender:</div><div class="col-md-11">{{gender}}</div>
</div>
<div class="row">
  <div class="col-md-1">Bio:</div><div class="col-md-11">{{bio}}</div>
</div>
<div class="row">
  <div class="col-md-1">Born:</div><div class="col-md-11">{{born}}</div>
</div>
